<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
</head>
<body>
<h1>Hello, World!Welcome to my app</h1>
<p> What did I do?<br />
Created database using SQLite, created table with db<br />
Connected to db and wrote several functions using pandas library to group/pivot/perform calculations on raw data that would be triggered based on user visting url<br />
Wrote python script to write and save results of calculations to excel.

See the results here <a href="{{url_for('reimburserate')}}">Reimbursement Rates</a><br />

Not a pretty website, but it serves a purpose! ;-)<br />

Things to improve:<br />
Make dates dynamic so calculations are always for most recent month<br />
Add flexibility to perform calc based on prior month, add drop down in html<br />
Finish reserve calculation by calculating T3M average<br />
</p>
</body>
</html>

